@model ModalHeader
@{
}
<div class="modal-header">
    <h5 class="modal-title" id="modal-action-user-label">@Model.Heading</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>